openapi: 3.0.0
info:
  version: '1.0.0'

  title: Nurim-For-Student

  contact:
    email: by09115@outlook.kr
    url: 'http://nurim.istruly.sexy/contact'
  x-logo:
    url: 'https://avatars0.githubusercontent.com/u/48756257?s=400&u=c3bf03422dfc818adf48b85326381d847e7f4745&v=4'

  description:
    This is the API Docs for Nurim-For-Student Service.

servers:
  - url: 'http://nurim.jaehoon.kim:5000/api/v1'

paths:
  '/login':
    post:
      summary: User authentication
      operationId: login
      tags:
        - Student
      description: |
        # 로그인
        사용자의 Authentication을 진행합니다.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - password
              properties:
                user_id:
                  type: string
                  example: by09115
                  description: 사용자 아이디
                password:
                  type: string
                  example: p@ssword
                  description: 사용자 비밀번호
      responses:
        '201':
          description: Login successed
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                    example: "thisistruly.access.token"
                  refresh:
                    type: string
                    example: "thisistruly.refresh.token"
        '400':
          description: Bad request
        '403':
          description: Can not find match applicant info

components:
  securitySchemes:
    Public:
      type: apiKey
      in: header
      name: Authorization
      description: If endpoint makred as this, it can be accessed by anyone
    Applicant:
      type: apiKey
      in: header
      name: Authorization
      description: If endpoint marked as this, it can be accessed with applicant authority
